*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: url(background/wallpaper3.jpeg) no-repeat center fixed;     
  background-size: cover;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
  font-family: 'Quicksand', sans-serif;

}

