*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: url(background/wallpaper3.jpeg) no-repeat center fixed;     
  background-size: cover;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
  font-family: 'Quicksand', sans-serif;

}

#nameInput{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

#nameData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#typeName {
  margin-bottom: 1rem;
}

#submitName {
  border: none;
}

#greeting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*---------------------- Main Focus, Quotes, Time and To Do List-----------------*/



/*-------------Main Focus------------*/

#main-focus { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#main-focus {
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

#typeName, #mainfocusData {
  width: 100%;
  padding-top: 4px;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  outline: none;
  text-align: center;
  transition: border-color .2s ease;
  margin-bottom: 6rem;
}

#greetUser {
  font-size: 3rem;
  padding-bottom: 20px;
}

/* <!------------------Let mainFocusData appear------------------> */

#today {
  font-size: 3rem;
}

/*-------------Quotes------------*/

#quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

#input-quote {
  width: 100%;
  padding-top: 4px;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  outline: none;
  text-align: center;
  transition: border-color .2s ease;
  margin-bottom: 6rem;
  
}

#quote {
  text-align: center;
  font-size: 1.20rem;

}

#quote-ul {
  font-size: 1rem;
  padding: 50px;
 
}

#quote-ul li {
  padding: 10px;
  text-align: start;
  max-width: 100%;
}

#get-quote {
  display: none;
}

#input-quote {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}



/*------------ buttons ------------ */

button {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 11px 16px;
  border-width: 1px;
  font-weight: 500;
  font-size: 1rem;
}

button:hover {
  background-color: rgba(235, 183, 12, 0.8);
  border-color: rgba(15, 15, 15, 0.8) ;
  
}


